<%
var display_account_name = user.username || user.email
var display_account_link = user.username || user._id
%>
<header id="nav-header" class="ts-position-fixed ts-position-top ts-width-100 ts-z-index-1000 ts-bg-text-primary-color ts-serif-clean ts-row ts-padding-md minimize" style="border-bottom: 1px solid black;">
	<div class="ts-page-content-container ">
	  <div id="trigger" class="ts-position-absolute ts-position-left ts-position-top">
	    <a href="#" id="trigger" class="ts-icon-menu-trigger ts-">
	      <img class="ts-nav-image" src="/images/elements/menu.white.png">
	    </a>
	  </div>
	  <div class="ts-pull-right ">
	  	<a href="/<%-locals.adminPath%>/user/<%-display_account_link%>/edit" class="async-admin-ajax-link"><%- display_account_name %></a> | 
	  	<a href="/logout">logout</a>
	  </div>
	  <div id="menu-header-stylie" class="ts-text-md ts-text-left">
	  	<a href="/<%-locals.adminPath%>" class="async-admin-ajax-link">Admin</a> 
	  	<%- pagedata.toplink %> 
	  </div>
	</div>
</header>