				</div> <!-- END OF <div id="ts-asyncadmin-content-container"> -->
			</div>
			<!-- END OF <div id="ts-asyncadmin-content-wrapper"> -->
			<div class="ts-modal-hidden-container">
				<% include _server_modal %>
			  <div class="ts-modal-overlay ts-bg-primary-color"></div>
			</div>
			<footer class="ts-position-fixed ts-position-bottom ts-width-100 ts-text-center ts-serif-clean ts-padding-md ts-bg-text-primary-color" style="border-top: 1px solid black;">
				<section class="ts-page-content-container ">
					<div class="ts-row ">
					  <div class="ts-col-span6 ts-text-left ts-text-sm">
					    <%- periodic.name %> | <a href="http://getperiodic.org" target="_blank">Periodic</a>
					  </div>
					  <div class="ts-col-span6 ts-pull-right ts-text-right ts-text-sm">
					    <span id="admin-console-span-container"></span>
					    Version <%= periodic.version %>
								<input type="hidden" name="periodic-version" value="<%= periodic.version %>"/> | Typesettin &copy;
					    <%var d=new Date();%>
					      <%- d.getFullYear() %>
					  </div>
					</div>
				</section>
				
			</footer>
		<!-- </div> -->
	</main>

	<div class="ts-display-none">
		<div id="ts-admin-console" >
			<div id="ts-admin-console-content" class=" ts-padding-lg">
				<!-- <pre>admin console</pre> -->
			</div>
		</div>
	</div>
	<%- locals.viewhelper.getHTML(locals.additionalFooterHTML) %>
	<% include _summernote_files %>
</body>
</html>