<%
	var labeltouse = ' &rsaquo; ' ;
	if(genericdoctypeplurallink){

		if(genericdoc && genericdoc.identification && genericdoc.identification.guid){
			labeltouse += genericdoc.identification.guid;
		}
		else if(genericdoc){
			labeltouse += genericdoc.title || genericdoc.name || genericdoc.label ||genericdoc.email || genericdoc._id;
		}
		%>

<div class="ts-container-margin-sm">
	<span class="ts-text-xx"><a class="async-admin-ajax-link ts-text-accent-color" href="/<%- locals.adminPath %>/content/<%- genericdoctypeplurallink %>/" data-ajax-href="/<%- locals.adminPath %>/content/<%- genericdoctypeplurallink %>/" >
		<span class="async-admin-ajax-link ts-text-accent-color" data-ajax-href="/<%- locals.adminPath %>/content/<%- genericdoctypeplurallink %>/" >
			<%-genericdoctype %>
		</span>
		</a>
		  <%- labeltouse %></span>
</div>
		<%
	}
%>