<% 
  var ts_taxman_initial_placeholder = (typeof ts_taxman_initial_placeholder!=='undefined')? ts_taxman_initial_placeholder : 'Search existing users, contenttypes, tags, categories and assets';
  var ts_taxman_ajaxformie = (typeof ts_taxman_ajaxformie !=='undefined')? ts_taxman_ajaxformie : 'edit-'+genericdoctypename+'-wysiwyg-form';
  var ts_taxman_bindiecallback = (typeof ts_taxman_bindiecallback !=='undefined')? ts_taxman_bindiecallback : false;
   %>
<details class="ts-text-sm" open="open" >
  <summary>
  <div class="ts-float-right">
      <span class="ts-button ts-button-light-primary-color" 
      >
        <select id="ts-create-entities" class="ts-button ts-button-transparent ts-width-100 ts-height-100" >
          <option value="">create new...</option>  
          <option value="contenttype">create contenttype</option>  
        </select>
      </span>
    </div>

  Taxonomy</summary>
  <aside>
    <div class="ts-document noFormSubmit">
      <form>
      <div class="ts-row ts-form-row">
        <div class="ts-col-span12">
          <div class="ts-row">
            <div class="ts-col-span3">
              <span class="ts-button ts-button-divider-text-color ts-width-100" style="height:2.5em">
                <select id="ts-search-entity-filters" class="ts-button ts-button-transparent ts-width-100 ts-height-100" >
                  <option value="user,contenttype,tag,category,asset">Search All</option>  
                  <option value="contenttype">Contenttypes</option>  
                  <option value="user">Users</option>  
                </select>
              </span>
            </div>
            <div class="ts-col-span9">
              <input class="ts-input asyncadmin-ts-tagmanager" id="tax-search" 
                style="border-bottom:0;height:2.5em;" 
                placeholder="<%- ts_taxman_initial_placeholder %>"
                data-taxonomy-fields="<%- genericdoctaxfields %>" 
                data-tax-man-results="tax-man-results"
                data-presetdata-prefix="genericdoc_"
                data-searchresults-selector="#tax-man-results"
                data-taxprops-selector="#tax-man-props"
                data-filter-selector="#ts-search-entity-filters"
                data-create-filter-selector="#ts-create-entities"
                data-searchresults-template-selector="#ts-taxman-search-result-template"
                <%if(ts_taxman_bindiecallback){%>data-bindiecallback="<%- ts_taxman_bindiecallback %>"<%}%>
                data-taxman-template-selector="#ts-taxman-taxmandata-template"
                data-ajax-formie="<%- ts_taxman_ajaxformie %>"/>
            </div>
            
          </div>
          <!--
          
          data-taxonomy-fields="contenttypes:array:contenttype:doc:createable,assets:array:asset:media:createable,primaryasset:single:asset:media:createable,authors:array:user:doc:static,primaryauthor:single:user:doc:static" 
          entity : array or single : doc or media template : createable/new/uploadable or static
          -->

        </div>
        <div class="ts-col-span12">
          <div id="tax-man-results" class="ts-tax-man-results"></div>
        </div>
        <div id="tax-man-props" class="ts-tax-man-props ts-col-span12  ts-text-sm">
          
        </div>
      </div>
      </form>
    </div>
  </aside>
</details>
<% 
if(genericdoc ){
    genericdoc.parent = genericdoc.parent ||false;
    genericdoc.tags = genericdoc.tags ||false;
    genericdoc.authors = genericdoc.authors ||false;
    genericdoc.contenttypes = genericdoc.contenttypes ||false;
    genericdoc.categories = genericdoc.categories ||false;
    genericdoc.assets = genericdoc.assets ||false;
    genericdoc.userroles = genericdoc.userroles ||false;
    genericdoc.userprivileges = genericdoc.userprivileges ||false;
    genericdoc.privileges = genericdoc.privileges ||false;
    genericdoc.primaryasset = genericdoc.primaryasset ||false;
    genericdoc.primaryauthor = genericdoc.primaryauthor ||false;
  if(genericdoc.parent){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.parent,"genericdoc_parent") %>
  </script>
  <%} 
  if(genericdoc.tags){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.tags,"genericdoc_tags") %>
  </script>
  <%}
  if(genericdoc.userroles){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.userroles,"genericdoc_userroles") %>
  </script>
  <%}
  if(genericdoc.userprivileges){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.userprivileges,"genericdoc_userprivileges") %>
  </script>
  <%}
  if(genericdoc.privileges){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.privileges,"genericdoc_privileges") %>
  </script>
  <%}
  if(genericdoc.categories){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.categories,"genericdoc_categories") %>
  </script>
  <%}
  if(genericdoc.assets){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.assets,"genericdoc_assets") %>
  </script>
  <%}
  if(genericdoc.primaryasset){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.primaryasset,"genericdoc_primaryasset") %>
  </script>
  <%}
  if(genericdoc.primaryauthor){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.primaryauthor,"genericdoc_primaryauthor") %>
  </script>
  <%}
  if(genericdoc.authors){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.authors,"genericdoc_authors") %>
  </script>
  <%}
  if(genericdoc.contenttypes){%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(genericdoc.contenttypes,"genericdoc_contenttypes") %>
  </script>
  <%}
}
else{%>
  <script type="text/javascript">
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_parent") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_tags") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_categories") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_assets") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_userroles") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_userprivileges") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_privileges") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_primaryasset") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_primaryauthor") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_authors") %>
    <%- locals.viewhelper.passObjToClient(false,"genericdoc_contenttypes") %>
  </script>
<%}%>
<script type="template/ejs" id="ts-taxman-search-result-template">
  <% include _taxman_search_result_template %>
</script>
<script type="template/ejs" id="ts-taxman-taxmandata-template">
  <% include _taxman_data_template %>
</script>

