<aside class="ts-padding-md ts-border-divider-text-color">
	
	<form id="update-periodic-settings-form" name="update-periodic-settings-form" class="ts-form ts-form async-admin-ajax-forms" method="post" action="/p-admin/settings/updateappsettings" data-successsubmitfunction="restartAppResponse">
		<input type="hidden" name="_csrf" value=<%- locals.token %> >
		<p>Updating settings updates <a class="ts-button ts-text-sm">content/config/environment/<%- appsettings.environment %>.json</a> and restarts your application. Your theme can be changed by updating <a href="/p-admin/themes">theme settings</a>.</p>
		<h5>Configuration Options [<%- appsettings.environment %>]</h5>
		<p class="extra-padding">
			<div id="appsettings-config"></div>
		</p>
		<p class="ts-text-center">
			<button type="submit" class=" ts-button ts-color-info " style="font-size: 110%;">Update Application Settings</button>
		</p>
	</form>
	<hr>
	<div class="ts-row">
		<h5>Advanced Configuration Options</h5>
		<p>Your application settings are a combination of:
			<li>your default configuration file <a class="ts-button ts-text-sm">content/config/environment/default.json</a></li>
			<li>which is overwriten by your environment specific configuration file <a class="ts-button ts-text-sm">content/config/environment/<%- appsettings.environment %>.json</a></li> 
			<li>which is overwritten by your global configuration file. <a class="ts-button ts-text-sm">content/config/config.json</a> </li>
		</p>
		<p> Only update the settings below if you are comfortable with modify JSON files manually.</p>
	</div>
	<div class="ts-row">
		<div class="ts-col-span6">
			<details  open="open">
					<summary>
						Global Config
					</summary>
					<aside style="border:0;">
						<div id="globalconfig-jsoneditor" class="ts-row ts-form-row" style="min-height:20em;">
							<form id="update-periodic-globalconfig-form" name="update-periodic-globalconfig-form" class="ts-form ts-form async-admin-ajax-forms" method="post" action="/p-admin/settings/updateconfigjson" data-successsubmitfunction="restartAppResponse">
					      <textarea  id="globalconfig-codemirror" name="globalconfig-codemirror"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height:60em;"><%- JSON.stringify(config.global_config,null,4) %></textarea>
							<p class="ts-text-center">
								<button type="submit" class=" ts-button ts-button-primary-color " style="font-size: 110%;">update config.json</button>
							</p>
				      </form>
				    </div>
					</aside>
				</details>
				<details  open="open">
					<summary>
						[<%- appsettings.environment %>] Environment Config
					</summary>
					<aside style="border:0;">
						<div id="envconfig-jsoneditor" class="ts-row ts-form-row" style="min-height:20em;">
							<form id="update-periodic-envconfig-form" name="update-periodic-envconfig-form" class="ts-form ts-form async-admin-ajax-forms" method="post" action="/p-admin/settings/updateconfigjson" data-successsubmitfunction="restartAppResponse">
					      <textarea  id="envconfig-codemirror" name="envconfig-codemirror"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height:60em;"><%- JSON.stringify(config.env_config,null,4) %></textarea>
								<p class="ts-text-center">
									<button type="submit" class=" ts-button ts-button-primary-color " style="font-size: 110%;">update <%- appsettings.environment %>.json</button>
								</p>
				      </form>
				    </div>
					</aside>
				</details>
				<details open="open">
					<summary>
						Default Config
					</summary>
					<aside style="border:0;">
						<div id="defaultconfig-jsoneditor" class="ts-row ts-form-row" style="min-height:20em;">
							<form id="update-periodic-defaultconfig-form" name="update-periodic-defaultconfig-form" class="ts-form ts-form async-admin-ajax-forms" method="post" action="/p-admin/settings/updateconfigjson" data-successsubmitfunction="restartAppResponse">
					      <textarea  id="defaultconfig-codemirror" name="defaultconfig-codemirror"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" style="height:60em;"><%- JSON.stringify(config.default_config,null,4) %></textarea>
					      <p class="ts-text-center">
									<button type="submit" class=" ts-button ts-button-primary-color " style="font-size: 110%;">update default.json</button>
								</p>
				      </form>
				    </div>
					</aside>
				</details>
		</div>
		<div class="ts-col-span6">
			<details open="open">
				<summary>
					Application Settings
				</summary>
				<aside style="border:0;">
					<div id="themesettings-jsoneditor" class="ts-row ts-form-row" style="min-height:20em;">
			      <textarea  id="appsettings-codemirror" name="appsettings-codemirror"  class="textarea-tall noFormSubmit codemirroreditor jsonEditor ts-col-span12" readonly="true" ="" style="height:60em;"><%- JSON.stringify(config.app_config,null,4) %></textarea>
			    </div>

					</aside>
				</details>
		</div>
	</div>
</aside>