<% genericdoctaxfields = "assets:array:asset:media:createable,primaryasset:single:asset:media:createable,tags:array:tag:doc:createable,categories:array:category:doc:createable,contenttypes:array:contenttype:doc:createable" 

	if(user.privileges['750'] || user.accounttype==='admin'){
		genericdoctaxfields+=',userroles:array:userrole:doc:createable';
	}

%>

<input type="hidden" name="_csrf" value=<%- locals.token %> >
<% genericdoc = (userprofile)? userprofile : genericdoc; 
	if(genericdoc){%>
	<input type="hidden" name="docid" value="<%- genericdoc._id %>">
<%}%>
<div class="ts-page-content-container-profile-page">
	<div class="ts-row">
		<div class="ts-genericdoc-entry ts-col-span8 ts-screensm-col-span12 ts-screenxs-col-span12">
			<!-- START: Account Information -->
			<details open="open" class="ts-text-sm">
				<summary>
					<% if(genericdoc.username){%>Edit<%}else{%>New<%} %> User Account
				</summary>
				<aside>
					<div class="ts-row ts-form-row">
						<div>
							<label class="ts-label">Name</label>
						</div>
						<input type="text" name="firstname" placeholder="first name" value="<%- genericdoc.firstname %>" class="ts-input"/>
						<input type="text" name="lastname" placeholder="last name" value="<%- genericdoc.lastname %>" class="ts-input"/>
					</div>
					<div class="ts-row ts-form-row">
						<label class="ts-label">Website</label>
						<input type="text" name="url" placeholder="http://mywebsite.com" value="<%- genericdoc.url %>"  class="ts-input" />
					</div>
					<div class="ts-row ts-form-row">
						<label class="ts-label">Bio</label>
						<input type="text" name="description" placeholder="no profile"  class="ts-input" value="<%- genericdoc.description %>"/>
					</div>
					<!-- <div class="ts-row ts-form-row">
						<label class="ts-label">Location</label>
						<input type="password" name="password" placeholder="password"  class="ts-input"/>
					</div> -->
					<div class="ts-row ts-form-row" style="margin-bottom:1.5em">
						<label class="ts-label">Gender</label>
						<% var docgender = [{
							"value":"male",
							"label":"Male"
							},{
							"value":"female",
							"label":"Female"
							},{
							"value":"other",
							"label":"Other"
							}]; %>
						<select name="gender" class="ts-input">
							<option disabled="disabled" <% if(!genericdoc || typeof genericdoc.gender==='undefined' ){%> selected="selected" <%}%> >Select a gender</option>
							<% docgender.forEach(function(gender){
								%>
									<option <% if(genericdoc && typeof genericdoc.gender==='string' && genericdoc.gender === gender.value ){%> selected="selected"
									<%}%> value="<%- gender.value %>"><%- gender.label %></option>
								<%
								}); %>
						</select>
					</div>
				</aside>
			</details>
			<!-- END: Account Information -->
		<% include ../../shared/genericdoc_compose_taxonomy_manager %>
		<% include ../../shared/genericdoc_compose_content_attributes %>
			<!-- START: Account Information -->

			<!-- END: Account Information -->
		</div>

		<div class=" ts-col-span4 ts-screensm-col-span12 ts-screenxs-col-span12">
			<details open="open" class="ts-text-sm">
					<summary>
						<div class="ts-pull-right">
				      <button class="ts-button ts-button-accent-color" type="submit" name="savebutton">
				      	<% if(genericdoc.username){%>Update<%}else{%>Create<%}%>
					     </button>
							<%if(genericdoc){%>
								<a data-href="/<%- locals.adminPath %>/user/<%- genericdoc._id %>/delete"  class="ts-button ts-color-error ts-text-label ts-dialog-delete " data-deleted-redirect-href="/<%- locals.adminPath %>/users" >Delete</a>
							<%}%>
						</div>
							Account Info
					</summary>
					<aside>
					<!-- Start: Account Information -->
					<div class="ts-row ts-form-row">
						<label class="ts-label">Email</label>
						<input type="email" name="email" placeholder="Your email address" value="<%- genericdoc.email %>" class="ts-input"/>
					</div>
					<div class="ts-row ts-form-row">
						<label class="ts-label">Username</label>
						<input type="text" name="username"  autocomplete="off" placeholder="username"  value="<%- genericdoc.username %>" class="ts-input" />
					</div>
					<div class="ts-row ts-form-row">
						<label class="ts-label">Password</label>
						<input type="password" name="password" value="" placeholder="password" autocomplete="off"  class="ts-input"/>
					</div>
					<div class="ts-row ts-form-row" style="margin-bottom:1.5em">
						<label class="ts-label">Confirm password</label>
						<input type="password" title="confirm your password" value="" name="passwordconfirm" placeholder="confirm password" autocomplete="off" class="ts-input" />
					</div>
					<!-- END: Account Information -->
				</aside>
			</details>
			<details open="open" class="ts-text-sm">
					<summary>
					Account Details
					</summary>
					<aside>
					  <% 
					  console.log(user)
					  if(user.privileges['750'] || user.accounttype==='admin'){%>
							<div class="ts-row ts-form-row">
								<% 
								if(genericdoc && genericdoc.userroles){%>
								<script type="text/javascript">
								  <%- locals.viewhelper.passObjToClient(genericdoc.userroles,"genericdoc_userroles") %>
								</script>
								<%}%>
								<div class="ts-col-span12">
									<label class="ts-label">Account Type</label>
									<% var docaccounttype = [{
										"value":"basic",
										"label":"basic"
										},{
										"value":"admin",
										"label":"admin"
										},{
										"value":"invalid",
										"label":"invalid"
										}]; %>
									<select name="accounttype" class="ts-input">
										<% docaccounttype.forEach(function(accounttype){
											%>
												<option <% if(genericdoc && typeof genericdoc.accounttype==='string' && genericdoc.accounttype === accounttype.value ){%> selected="selected"
												<%}%> value="<%- accounttype.value %>"><%- accounttype.label %></option>
											<%
											}); %>
									</select>
								</div>
								<div class="ts-col-span12">
									<label class="ts-label">Activated</label>
									<% var docactivated = [{
										"value":true,
										"label":"true"
										},{
										"value":false,
										"label":"false"
										}]; %>
									<select name="activated" class="ts-input">
										<% docactivated.forEach(function(activated){
											%>
												<option <% if(genericdoc && genericdoc.activated === activated.value ){%> selected="selected"
												<%}%> value="<%- activated.value %>"><%- activated.label %></option>
											<%
											}); %>
									</select>
								</div>
							</div>
						<%}
						else{ %>
							<div class="ts-row ts-form-row">
								<div class="ts-col-span12" >
									<label class="ts-label">Account Type</label>
									<input type="text" disabled="disabled" value="<%- genericdoc.accounttype %>" class="ts-input"/>
								</div>
							</div>
							<div class="ts-row ts-form-row">
								<div class="ts-col-span12" >
									<label class="ts-label">Activated</label>
									<input type="text" disabled="disabled" value="<%- genericdoc.activated %>" class="ts-input"/>
								</div>
							</div>
						<%} %>

					</aside>
			</details>
		</div>
	</div>
</div>
<% include ../../shared/_template_compose_taxonomies %>
