<% genericdoc = userrole %>
<% genericdoctype = "Userrole" %>
<% genericdoctypelink = "userrole" %>
<% genericdoctypename = "userrole" %>
<% genericdoctypeplurallink = "userroles" %>
<% include ../../shared/header %>
<% genericdoctaxfields = "privileges:array:userprivilege:doc:createable" %>
<div class="ts-container">
	<section class="ts-text-container ts-genericdoc">
		<% include ../../shared/_html_inject_precontent %>
    <% include ../../shared/genericdoc_compose_title %>
	
		<form class="ts-form async-admin-ajax-forms" id="edit-userrole-form" name="edit-userrole-form" method="post" action="/<%- locals.adminPath %>/userrole/edit"  onsubmit="return false;" >
			<input type="hidden" name="_csrf" value=<%- locals.token %> >
			<input type="hidden" name="docid" value=<%- userrole._id %> >
			<div class="ts-page-content-container-profile-page">
				<div class="ts-row">
					<div class="ts-genericdoc-entry ts-col-span7 ts-screensm-col-span12 ts-screenxs-col-span12">
						<h4>User Role</h4>
						<div  id="new-userrole-modal-content">
		          <div class="ts-row ts-form-row">
		            <div>
		              <label class="ts-label">Title</label>
		            </div>
		            <input type="text" placeholder="title" class="ts-input" name="title" value="<%- userrole.title %>">
		          </div>
		          <div class="ts-row ts-form-row">
		            <div>
		              <label class="ts-label">Name</label>
		            </div>
		            <input type="text" placeholder="name" class="ts-input" disabled="disabled" value="<%- userrole.name %>">
		          </div>
		          <div class="ts-row ts-form-row">
		            <div>
		              <label class="ts-label">ID</label>
		            </div>
		            <input type="text" placeholder="userroleid" class="ts-input" name="userroleid"  value="<%- userrole.userroleid %>">
		          </div>
		          <div class="ts-row ts-form-row">
		            <div>
		              <label class="ts-label">Description</label>
		            </div>
		            <input type="text" placeholder="description" class="ts-input" name="description"  value="<%- userrole.description %>">
		          </div>
		          <div class="ts-row ts-form-row">
		            <div>
		              <label class="ts-label">Privileges</label>
		            </div>
		            		<% include ../../shared/genericdoc_compose_taxonomy_manager %>

		          </div>
		          <div class="ts-row ts-form-row ts-text-center">
		          	<div class="ts-col-span12 ts-padding-lg">
			          	<input type="submit" class="ts-button ts-button-accent-color" value="update user role" name="update-user-role-button" />
		          	</div>
							</div>
		        </div>
					</div>
					<div class=" ts-col-span5 ts-screensm-col-span12 ts-screenxs-col-span12">
						<h4>All Privileges</h4>
						<% userprivileges.forEach(function(userprivilege){%>
							<a class="ts-button ts-text-xs async-admin-ajax-link" href="/<%-locals.adminPath %>/content/userprivilege/<%- userprivilege.name %>">#<%- userprivilege.name %> (<%- userprivilege.userprivilegeid %>)</a>
						<%} );%>
					</div>
				</div>
			</div>
		</form>
		<% include ../../shared/_html_inject_postcontent %>
	</section>
</div>

  <% generictaxnomy = 'userprivilege' %>
  <% include ../../shared/_new_generic_taxonomy_modal %>
<% include ../../shared/footer %>
